<div class="container-fluid nawigacja">
  <div class="row">
    <div class="logo-container col-md-3 col-xs-12">
      <a class="" href="#"><img src="assets/images/logo_top.png" alt="Logo" /></a>
    </div>
    <div class="menu-container col-md-9">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav row" style="width: 100%">
          <li class="col-sm-4" style="padding: 0"><a href="#about-company">O firmie</a></li>
          <li class="col-sm-4" style="padding: 0"><a href="#offer">Oferta</a></li>
          <li class="col-sm-4" style="padding: 0"><a href="#contact-box">Kontakt</a></li>
        </ul>
      </nav>
      <!-- /.navbar -->
    </div>
  </div>
</div>
<!-- /.nawigacja -->
