@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,400italic,700italic,900,100italic,100&subset=latin,latin-ext);

@font-face {
  font-family: 'Oswald Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald Light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Palace Script MT';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/PalaceScriptMT.ttf') format('truetype');
}
