.HomePage {
  &__headline {
    &__content--desktop {
      display: none;

      @media ($tablet) {
        background: url("/assets/images/our-background.jpg") no-repeat center;
        background-size: contain;
        display: block;
        height: 800px;
        width: 100%;
      }
    }

    &__content--mobile {
      display: flex;
      flex-direction: column;

      @media ($tablet) {
        display: none;
      }
    }

    &__content-image {
      margin: 0 auto;
      width: 80%
    }

    &__text {
      @media ($tablet) {
        margin: 0 auto;
        padding: 5% 0;
        width: 30%
      }
    }

    &__title {
      font-size: 38px;
      padding: 2% 5%;
      text-align: center;
    }

    &__description {
      padding: 2% 5%;

      @media ($tablet) {
        padding: 0 20px;
      }
    }
  }

  &__aftermath {
    &__content {
      display: flex;
      flex-direction: column;
      padding: 2%;
    }

    &__title {
      font-size: 38px;
      padding: 2% 5%;
      text-align: center;
    }

    &__video--desktop {
      display: none;

      @media ($xlarge) {
        align-self: center;
        display: block;
      }
    }

    &__video--tablet {
      display: none;

      @media ($tablet) and ($until-xlarge) {
        align-self: center;
        display: block;
      }
    }

    &__video--mobile {
      display: none;

      @media ($small) and ($until-tablet) {
        align-self: center;
        display: block;
      }
    }

    &__video--xsmall {
      display: none;

      @media ($xsmall) {
        align-self: center;
        display: block;
      }
    }
  }
}
