.Link {
  color: map-get($colors, our-brown);
  text-decoration: none;

  &:hover {
    color: map-get($colors, our-creamy);
  }

  &--header {
    display: none;
    font-size: 32px;
    line-height: 3em;
    text-align: center;
    width: 17.5%;

    @media ($tablet) {
      display: block;
    }
  }
}
