.Projects {
  background-color: #79ded6;
  padding-top: 20px;
  width: 100%;

  & h1 {
    color: white;
    font-style: italic;
    text-align: center;
  }

  & .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
  }

  & .thumbnail {
    margin: 0 5px 20px;
  }
}
