<div id="about-company" class="About container projekty-skrot">
  <div class="row">
    <h1><span>Estado Art</span> Joanna Brych</h1>
    <p class="lead">
      Estado Art Joanna Brych to firma założona w 2013 roku przez młodą,
      kreatywną projektantkę wnętrz i krajobrazu, dopełniającą swoją działalność
      poprzez ręczne wykonywanie dekoracji – ceramicznych i malowanych.
    </p>
    <p>
      Przy sporządzaniu projektu najważniejsze jest dla mnie spotkanie z
      klientem. Pierwsze ustalenia dotyczące preferencji co do stylu,
      kolorystyki i form mają ogromne znaczenie, ponieważ każdy z nas jest inny,
      a dla mnie ma znaczenie ostateczna satysfakcja klienta. Na spotkaniu
      przedstawiane są wizualizacje koncepcji, które mają pomóc w dokonaniu
      decyzji, w tym w wyborze odpowiednich materiałów i kolorystyki.
    </p>
  </div>
</div>
