<div class="HomePage__aftermath">
  <div class="Container">
    <div class="HomePage__aftermath__content">
      <header class="HomePage__aftermath__title">No i się stało. Pobraliśmy się :).</header>
      <iframe class="HomePage__aftermath__video--desktop" width="1000" height="600" src="https://www.youtube.com/embed/jPtfXSR65Nw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe class="HomePage__aftermath__video--tablet" width="750" height="450" src="https://www.youtube.com/embed/jPtfXSR65Nw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe class="HomePage__aftermath__video--mobile" width="400" height="240" src="https://www.youtube.com/embed/jPtfXSR65Nw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe class="HomePage__aftermath__video--xsmall" width="300" height="200" src="https://www.youtube.com/embed/jPtfXSR65Nw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <header class="HomePage__aftermath__title">Dziękujemy!</header>
      <header class="HomePage__aftermath__title">Zdjęcia wkrótce.</header>
    </div>
  </div>
</div>
<hr class="Header__horizontal-line">
