<hr class="Header__horizontal-line">
<div id="our-contact" class="Wedding">
  <section class="Wedding__description">
    <header class=Wedding__description--title>Kontakt <a href="#"><span class="Icon Icon--large Icon--chevron-up Wedding__description--title__icon"></span></a></header>
    <br><br>
    <p class="Wedding__description--content Text--copy">W razie pytań piszcie, czy to drogą SMS, czy też drogą mailową:</p>
    <p class="Wedding__description--content Text--copy"><img src="/assets/images/contact.png" class="Wedding__contact-image" /></p>
    <p class="Wedding__description--content Text--copy">Czekamy na Was!</p>
  </section>
  <div class="Wedding__ending-image"></div>
</div>
