<div class="Footer container stopka">
  <div class="Footer__row row">
    <div class="col-md-4 Footer__cell">
      <p>© 2019 - <a href="#">Estado Art Joanna Brych</a></p>
    </div>
    <div class="col-md-4 Footer__cell">
      <div class="social-foot">
        <a href="https://www.facebook.com/EstadoArt/?fref=ts" target="_blank"
          ><i class="sprite sprite-iko-f"></i
        ></a>
      </div>
    </div>
    <div class="col-md-4 Footer__cell">
      <p>
        Na podstawie projektu:
        <a href="http://virtual-people.pl" target="_blank">Virtual People</a>
      </p>
    </div>
  </div>
</div>
<!-- /.stopka -->
