<div class="HomePage__headline">
  <div class="Container">
    <div class="HomePage__headline__content--desktop">
      <section class="HomePage__headline__text">
        <header class="HomePage__headline__title">Pobieramy się!</header>
        <header class="HomePage__headline__title">26.05.2018</header>
        <p class="HomePage__headline__description Text--copy">Nadchodzi ta chwila. Chwila kiedy zostawimy stan kawalerski/panieński i zaczniemy zgłębiać tajniki życia w mażeństwie. Jeżeli tu jesteś, to najprawdopodobniej zostałeś zaproszony na wspólne dzielenie się radością z tego faktu w dniu naszego ślubu i wesela. Na poniższej stronie przedstawiamy garść praktycznych informacji, żebyś nie przeoczył miejsca, ani terminu naszego spotkania.</p>
        <p class="HomePage__headline__description Text--copy">Do zobaczenia!</p>
        <p class="HomePage__headline__description Text--copy">PS. Przypominamy, że zamiast kwiatów chętniej przygarniemy kupony totolotka, czy też butelkę zacnego trunku.</p>
      </section>
    </div>

    <div class="HomePage__headline__content--mobile">
      <img class="HomePage__headline__content-image" src="/assets/images/our-background-p1.jpg" />
      <section class="HomePage__headline__text">
        <header class="HomePage__headline__title">Pobieramy się!</header>
        <header class="HomePage__headline__title">26.05.2018</header>
        <p class="HomePage__headline__description Text--copy">Nadchodzi ta chwila. Chwila kiedy zostawimy stan kawalerski/panieński i zaczniemy zgłębiać tajniki życie w mażeństwie. Jeżeli tu jesteś, to najprawdopodobniej zostałeś zaproszony na wspólne dzielenie się radością z tego faktu w dniu naszego ślubu i wesela. Na poniższej stronie przedstawiamy garść praktycznych informacji, żebyś nie przeoczył miejsca, ani terminu naszego spotkania.</p>
        <p class="HomePage__headline__description Text--copy">Do zobaczenia!</p>
        <p class="HomePage__headline__description Text--copy">PS. Przypominamy, że zamiast kwiatów chętniej przygarniemy kupony totolotka, czy też butelkę zacnego trunku.</p>
      </section>
      <img class="HomePage__headline__content-image" src="/assets/images/our-background-p2.jpg" />
    </div>
  </div>
</div>
