<div class="Headline container slajder">
  <div class="row">
    <div class="col-md-6">
      <div class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="item active">
            <h1>Projekty <span>Wnętrz</span></h1>
            <p>
              Nowoczesne czy tradycyjne? Dopasowanie wnętrza do gustu i potrzeb
              ma za zadanie sprawić, abyś czuł się w nim dobrze. Projekt przed
              realizacją, na podstawie indywidualnej rozmowy, zostanie
              przedstawiony na trójwymiarowej wizualizacji.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
