<div id="projects" class="Projects container">
  <div class="row">
    <h1>Przykładowe projekty i realizacje</h1>

    <div
      class="image-gallery"
      itemscope
      itemtype="http://schema.org/ImageGallery"
    >
      {% for image in site.data.projects %}
      <figure
        itemprop="associatedMedia"
        itemscope
        itemtype="http://schema.org/ImageObject"
      >
        <a
          href="{{ image.src }}"
          itemprop="contentUrl"
          data-size="{{ image.width }}x{{ image.height }}"
        >
          <img
            class="thumbnail"
            src="{{ image.msrc }}"
            itemprop="thumbnail"
            alt="{{ image.alt }}"
          />
        </a>
      </figure>
      {% endfor %}
    </div>
  </div>
</div>
