<hr class="Header__horizontal-line">
<div id="wedding-ceremony" class="Wedding Wedding--reverse">
  <section class="Wedding__description">
    <header class=Wedding__description--title>Ślub <a href="#"><span class="Icon Icon--large Icon--chevron-up Wedding__description--title__icon"></span></a></header>
    <p class="Wedding__description--content Text--copy">Ceremonia rozpocznie się w dniu 26 maja 2018 roku w Kościele p.w. św. Andrzeja Boboli w Bardzicach o godz. 16:30.</p>
    <p class="Wedding__description--content Text--copy">Dla gości z dalszych stron, rozlokowanych w hotelach, przygotujemy transport do kościoła, a stamtąd na wesele.</p>
    <div class="Wedding__description--image Wedding__description--image--church"><div/>
  </section>
  <div class="Wedding__map">
    <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJlzoCRz5dGEcR08jwdGhhVog&key=AIzaSyC3vXhjhJaymPE0Rrjdn39KTtCxuzWbH_Q&center=51.372915,21.158846&zoom=10" allowfullscreen></iframe>
  </div>
</div>
