<hr class="Header__horizontal-line">
<div id="wedding-party" class="Wedding">
  <section class="Wedding__description">
    <header class="Wedding__description--title">Wesele <a href="#"><span class="Icon Icon--large Icon--chevron-up Wedding__description--title__icon"></span></a></header>
    <p class="Wedding__description--content Text--copy">Po ceremonii zaślubin, tj. ok godz. 18-18:30 zaczniemy wesele. Skorzystamy przy tym z gościny hotelu i restauracji Karo na zachód od Radomia.</p>
    <p class="Wedding__description--content Text--copy">Liczymy na Waszą fantazję i energię, żebyśmy przetrwali we względnej trzeźwości do białego rana!</p>
    <div class="Wedding__description--image Wedding__description--image--party"><div/>
  </section>
  <div class="Wedding__map Wedding__map--right">
    <iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ8aO7uslZGEcR1C8JeqyyRTk&key=AIzaSyC3vXhjhJaymPE0Rrjdn39KTtCxuzWbH_Q&center=51.418436,21.112358&zoom=10" allowfullscreen></iframe>
  </div>
</div>
